<!-- for React -->
<!doctype html>
<html>
  <script>
    window.user_id = {{ session.get("user", "null") }}; 
    window.user_name = "{{ session.get("user_name", "null")}}";
    <!-- console.log(window.user_id); -->
    <!-- console.log(window.user_name); -->
    <!-- window.result = {{ session.get("result")}}; -->
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="http://unpkg.com/react-router@5.2.0/umd/react-router.min.js"></script>
  <script src="http://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.min.js"></script>

  <div id="root"></div>

  <script src="/static/js/components/homepage.jsx" type="text/jsx"></script>
  <script src="/static/js/components/signup.jsx" type="text/jsx"></script>
  <script src="/static/js/components/login.jsx" type="text/jsx"></script>
  
  <script src="/static/js/components/search.jsx" type="text/jsx"></script>
  <script src="/static/js/components/results.jsx" type="text/jsx"></script>
  
  <script src="/static/js/root.jsx" type="text/jsx"></script>
  <!-- <link rel='stylesheet' href='/static/mystyle/css' -->
  
  
  <body>
    <img src='/static/img/recallama.jpg'
    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}
  </body>
</html>